<ion-content color="brown">
  <ion-slides class="w-100 h-100" scrollbar="true">
    <ion-slide>
      <ion-content color="brown">
        <ion-grid>
          <ion-row color="primary" class="ion-justify-content-center">
            <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
              <div class="ion-text-center">
                <h1 class="font-title">Cadastrar</h1>
              </div>
              <div class="ion-padding">
                <ion-item class="rounded-top" color="white">
                  <ion-label position="floating">Nome:</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item color="white">
                  <ion-label position="floating">Email:</ion-label>
                  <ion-input type="email"></ion-input>
                </ion-item>
                <ion-item color="white">
                  <ion-label position="floating">Senha:</ion-label>
                  <ion-input type="password"></ion-input>
                </ion-item>
                <ion-item color="white">
                  <ion-label position="floating">Rua:</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item color="white">
                  <ion-label position="floating">Bairro:</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item color="white">
                  <ion-label position="floating">Cidade:</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item color="white">
                  <ion-label position="floating">Estado:</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item color="white">
                  <ion-label position="floating">CEP:</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
                <ion-item class="rounded-bottom" color="white">
                  <ion-label position="floating">CPF:</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </div>
              <div class="ion-padding">
                <ion-button size="large" expand="block" color="wine" routerLink="/pages/login">Cadastrar</ion-button>
              </div>
              <p>Já possui uma conta? <strong routerLink="/">Faça login</strong></p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
