<ion-header [translucent]="true">
  <ion-toolbar color="wine">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Descrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="wine" class="w-100 h-100">
  <ion-card color="white" *ngIf="produto">
    <ion-card-header>
      <!-- <img [src]="produto.img" class="rounded shadow-sm img-fluid" alt="produto"> -->
      <ion-card-title class="font-italic font-weight-bold">{{ produto.nome }}</ion-card-title>
      <ion-card-subtitle class="font-italic">R${{ produto.preco }}</ion-card-subtitle>
      <ion-card-subtitle class="font-italic">Quantidade: {{ produto.quantidade }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ produto.descricao }}
    </ion-card-content>
    <ion-button class="m-3" expand="block" color="success" (click)="addCart(produto.id_produto)">
      Adicionar ao carrinho <ion-icon name="cart"></ion-icon>
    </ion-button>
  </ion-card>
  <ion-card color="white" *ngIf="!produto">
    <ion-card-content>
      Se demorar muito volte para o menu.
    </ion-card-content>
    <ion-button class="m-3" expand="block" color="danger" routerLink="/pages/list">
      Voltar para o menu <ion-icon name="sad-outline"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
